# Your own Bitmovin Player license key (https://bitmovin.com/dashboard).
# The key must allow-list the domain your widget is served from (the MCP host's
# sandbox domain, your tunnel, or your deployment host). Bring your own — no key
# ships with this repo.
BITMOVIN_PLAYER_KEY=your-bitmovin-player-license-key
